.language-json .string { color: #a8ff60; }
.language-json .number { color: #ff9e57; }
.language-json .boolean { color: #ff628c; }
.language-json .null { color: #ff628c; }
.language-json .key { color: #5cdff0; }
